@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    html {
        font-size: 100%;
    }

    body {
        background-image: url('/assets/images/background.png');
        font-weight: 500;
        line-height: 1.75;
        color: #000000;
        font-size: 18px;
    }
}

@layer components {
    .container {
        @apply max-w-4xl mx-auto px-7;
    }
}
