---
import Base from '../layouts/Base.astro';
---

<Base title="Thanks for getting in touch!" description="">
  <div class="h-full p-8 flex justify-center items-center">
    <div class="text-center">
      <a href="/">
        <img
          class="mx-auto h-32 mb-8"
          src="/assets/images/logo.png"
        />
      </a>
      <div class="max-w-2xl">
        <p class="text-lg font-semibold mb-1">
          Thanks for getting in touch!
        </p>

        <p>
          Our servers have recieved your message and are working hard
          to transport it to Dr. Carr's inbox on your behalf. You
          should hear back from her soon.
        </p>
      </div>

      <a class="btn mt-5" href="/">Homepage</a>
    </div>
  </div>
</Base>
