{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="static/styles/curriculum.css" />
{% endblock %} {% block title %}Our curriculum{% endblock %}
{% block navbar %}
<nav class="navbar">
    <a class="brand" href="/">Education Transformation Centre</a>
</nav>
{% endblock %} {% block content %}
<div class="hero">
    <div class="hero-container">
        <h1>Our Curriculum</h1>
    </div>
</div>
<div class="content">
    <div class="section">
        <div class="block">
            <div class="title">
                <img class="icon" src="static/assets/icons/model-icon.png" />
                <h2>Model</h2>
            </div>
            <p>
                Our integrative and alternative education model is designed to
                eliminate the stigma of utilizing mental health services. Its
                seamless clinical learning model fosters emotional self-efficacy
                while building essential life skills.
            </p>
        </div>
        <div class="block">
            <div class="title">
                <img class="icon" src="static/assets/icons/setting-icon.png" />
                <h2>Setting</h2>
            </div>
            <p>
                The setting is a place where the students can feel safe as the
                service team build authentic supportive relationships that
                foster success. ETC is a place where students can learn and grow
                socially and heal emotionally.
            </p>
        </div>
        <div class="block">
            <div class="title">
                <img class="icon" src="static/assets/icons/services-icon.png" />
                <h2>Services</h2>
            </div>
            <p>
                ETC’s therapeutic mental health services include mental health
                assessments, person-centered service planning, therapeutic
                activities, parent consultations/ psycho-educational training,
                teacher collaboration and service/program evaluation.
            </p>
            <p>
                Formal and Informal assessment tools will vary depending on the
                DSM-5 diagnostic indicators. Staff will administer the Adverse
                Childhood Experiences Assessment (ACE) to each adolescent to
                identify critical areas of concern that inhibit academic
                progress and emotional stability. ETC provides a therapeutic
                environment...
            </p>
        </div>
        <div class="block">
            <div class="title">
                <img class="icon" src="static/assets/icons/team-icon.png" />
                <h2>Team</h2>
            </div>
            <p>
                ETC’s integrative approach includes a team of educators,
                clinical mental health counselors, qualified mental health
                providers, parents, and community mentors.
            </p>
        </div>
        <div class="block">
            <div class="title">
                <img class="icon" src="static/assets/icons/outcomes-icon.png" />
                <h2>Outcomes</h2>
            </div>
            <p>
                Collaboration with host schools will facilitate a bridge for a
                student’s return full-time to the traditional setting once
                mental health goals are met or an intensive level of services
                are no longer needed.
            </p>
        </div>
    </div>
</div>
{% endblock %}
