{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="static/styles/home.css" />
{% endblock %} {% block title %}Education Transformation Centre{% endblock %} {% block navbar %}
<nav class="navbar">
    <a class="brand" href="#">Education Transformation Centre</a>
</nav>
{% endblock %} {% block content %}
<div class="hero">
    <div class="hero-container">
        <h1>Education Transformation Centre</h1>
        <h2 class="subtitle">
            A Centre for Growth, Transformation and Achievement
        </h2>
    </div>
</div>
<div class="mission centered-block">
    <p>
        We endeavor to create an atmosphere of “relaxed alertness” where there
        is a combination of high challenge and high expectations in a low threat
        learning community; and a state of mind that combines confidence,
        competence and intrinsic motivation (Cainelearning.com).
    </p>
</div>

<div class="about centered-block large-spacing">
    <h3>About</h3>
    <p>
        The Education Transformation Centre is an alternate education course,
        designed to prevent encounters with the justice system and reduce
        frequent instances of detention and suspension.
    </p>
</div>

<div class="serve centered-block large-spacing">
    <h3>Who We Serve</h3>
    <p>
        Charlottesville City Public Schools, Counties of Albemarle, Buckingham,
        Fluvanna, Greene, Louisa Nelson
    </p>
</div>

<div class="curriculum centered-block">
    <h3>Curriculum</h3>
    <p>
        ETC’s integrative and alternative education model is designed to
        eliminate the stigma of utilizing mental health services. Its seamless
        clinical learning model fosters emotional self-efficacy while building
        essential life skills.
    </p>
    <a class="btn grow" href="/curriculum.php">Learn More</a>
</div>

<div class="testimonials">
    <h3 class="center">Testimonials</h3>
    <ul>
        <li>
            <p>
                Dr Carr was a steadfast presence in my client’s life which I
                feel helped her to see more positive possibilities for her
                future.
            </p>
            <p>
                Dr. Carr provided my client with individualized and focused
                support that she needed during a challenging time in her life.
                This extra support helped to scaffold my client’s sense of what
                a trustworthy relationship looks like and feels like.
            </p>
            <p>
                I believe that putting in the extra time and effort often helps
                children/students to feel that they really do matter and that
                their life is meaningful and worthwhile. Being a constant and
                honest adult, who is present, helps to create trust in the
                relationship between adult and child. Young people need to learn
                what a safe and trusting relationship feels like, and I
                witnessed Dr. Carr be that person for my client.  Dr. Carr's
                guidance will have lasting effects on my client's life,
                whether she sees/feels it now or in her future, those
                positive seeds were planted in the Education Transformation
                Centre.
            </p>
            <figcaption class="author">
                Shelley Faulkner
                <span class="position"
                    >M.A., Ed.S.<br />Trauma Counselor<br />ReadyKids</span
                >
            </figcaption>
        </li>
        <li>
            <p>
                Dr Carr was a steadfast presence in my client’s life which I
                feel helped her to see more positive possibilities for her
                future.
            </p>
            <p>
                Dr. Carr provided my client with individualized and focused
                support that she needed during a challenging time in her life.
                This extra support helped to scaffold my client’s sense of what
                a trustworthy relationship looks like and feels like.
            </p>
            <p>
                I believe that putting in the extra time and effort often helps
                children/students to feel that they really do matter and that
                their life is meaningful and worthwhile. Being a constant and
                honest adult, who is present, helps to create trust in the
                relationship between adult and child. Young people need to learn
                what a safe and trusting relationship feels like, and I
                witnessed Dr. Carr be that person for my client.  Dr. Carr's
                guidance will have lasting effects on my client's life,
                whether she sees/feels it now or in her future, those
                positive seeds were planted in the Education Transformation
                Centre.
            </p>
            <figcaption class="author">
                Shelley Faulkner
                <span class="position"
                    >M.A., Ed.S.<br />Trauma Counselor<br />ReadyKids</span
                >
            </figcaption>
        </li>
        <li>
            <p>
                Dr Carr was a steadfast presence in my client’s life which I
                feel helped her to see more positive possibilities for her
                future.
            </p>
            <p>
                Dr. Carr provided my client with individualized and focused
                support that she needed during a challenging time in her life.
                This extra support helped to scaffold my client’s sense of what
                a trustworthy relationship looks like and feels like.
            </p>
            <p>
                I believe that putting in the extra time and effort often helps
                children/students to feel that they really do matter and that
                their life is meaningful and worthwhile. Being a constant and
                honest adult, who is present, helps to create trust in the
                relationship between adult and child. Young people need to learn
                what a safe and trusting relationship feels like, and I
                witnessed Dr. Carr be that person for my client.  Dr. Carr's
                guidance will have lasting effects on my client's life,
                whether she sees/feels it now or in her future, those
                positive seeds were planted in the Education Transformation
                Centre.
            </p>
            <figcaption class="author">
                Shelley Faulkner
                <span class="position"
                    >M.A., Ed.S.<br />Trauma Counselor<br />ReadyKids</span>
            </figcaption>
        </li>
    </ul>
</div>

<div class="contact centered-block">
    <h3>Contact Us</h3>
    <a>Email: info@etcnow.org</a>
    <a>Phone: (434) 484-0964</a>
</div>

{% endblock %}
