/* -- Custom Icons Styles -- */
img.icon {
    display: inline;
    width: 30px;
    height: 30px;
}

img.icon + h2 {
    display: inline;
    margin: 0px;
}

.section {
    padding-top: 40px;
    max-width: 1100px;
    margin: auto;
}

.block {
    padding: 20px 20px;
}

.block .title {
    display: flex;
    align-items: center;
}

.block .title .icon {
    margin-right: 8px;
}