/* -- Custom Icons Styles -- */
img.icon {
    display: inline;
    width: 30px;
    height: 30px;
}

img.icon + h2 {
    display: inline;
    margin: 0px;
}

.column-section {
    display: flex;
    flex-wrap: wrap;

    padding-top: 30px;
}

.left-block {
    padding: 20px 20px;
    flex: 1 1 300px;
}

.left-block .title {
    display: flex;
    align-items: center;
}

.left-block .title .icon {
    margin-right: 8px;
}