.hero {
    /* fixes the small gap that sometimes is visible in between the hero and the next section */
    margin-bottom: -1px;
}

.hero h1 {
    font-size: 2rem;
}

.hero-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    padding-top: 20px;
}

.hero .logo {
    margin-top: -10%;
    width: 100%;
    max-width: 600px;
}

.hero .left {
    flex: 1 1 200px;
    padding: 30px;
}

.hero .right {
    flex: 1 1 100px;
    padding: 40px 60px;
    align-self: center;
    
    color: #404040;
    color: var(--dark-grey, #404040);
    font-size: 1.9em;
    line-height: 2.2em;
    font-size: calc(1.2em + 1.5vw);
    line-height: calc(1.5em + 1.5vw);
}

.mission {
    color: white;
    background-color: #6c4d40;
}

.about {
    background-image: url("/static/assets/about.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about .section {
    padding: 30px 10px;
}

.serve {
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
    background-color: #4d9b4d;
}

.serve h1, .serve h2, .serve h3, .serve h4 {
    color: white;
}

.serve img {
    margin-top: 45px;
}

.curriculum {
    margin-top: 35px;
}

.curriculum .section {
    padding: 30px 10px;
}

#outcomes-img {
    margin-bottom: 50px;
}

.testimonial {
    padding-top: 40px;
    background-color: var(--green, brown);
    color: white;
}

.testimonial h1, .testimonial h2, .testimonial h3 {
    color: white;
}

.testimonial .row {
    margin: auto;
    width: 90%;
}

.testimonial .item {
    padding: 20px 0px 40px 0px;
    margin: auto;
    max-width: 700px;
    text-align: center;
}

.testimonial p {
    margin-bottom: 10px;
}

.testimonial .quote {
    margin: auto;
}

.testimonial .quote [class*="quote"] {
    font-size: 30px;
    margin-bottom: 5px;
}

.testimonial figcaption {
    font-size: 1.2rem;
}

.testimonial .position {
    display: block;
}


@media screen and (min-width: 350px) {
    .hero h1 {
        font-size: 2.3rem;
    }
}

@media screen and (min-width: 500px) {
    .hero h1 {
        font-size: 3rem;
    }

    .testimonials li {
        padding: 40px;
        background-color: rgb(247, 247, 247);
        -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
}

@media screen and (min-width: 1200px) {
    .hero h1 {
        font-size: 4rem;
    }
}