/* --- Global --- */
:root {
  --white: #ffffff;
  --black: #000000;
  --brown: #7D5A40;
  --dark-brown: #6C4D40;
  --dark-grey: #404040;
  --green: #4E9B4D;
  --light-green: #61b660;
  --grey: #8D8D8D;
  --light-grey: #CDCDCD;
  --stone-one: #9B9286;
  --super-light-grey: #fcfcfc;
}

html, body {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding: 0px;

  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  background-image: url("/static/assets/Background.png");
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-weight: 800;
    font-size: 2.2rem;
}
h2 {
  font-weight: 500;
  font-size: 2.0rem;
}
h3 {
  font-weight: 600;
  font-size: 1.9rem;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.2rem;
}

.subtitle {
    display: block;

    font-size: 1.2rem;
}

.break {
  margin-left:-100%;
  margin-right:-100%;
}

.center {
  text-align: center;
}

.centered-block {
  padding: calc(5vw + 20px) 10vw;
  text-align: center;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

p + p {
  text-indent: 3rem;
}

.btn {
  display: inline-block;

  margin: 10px;

  background-color: var(--green, green);
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--light-green, grey);
}

/* Main Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  height: 7vh;

  background-color: var(--super-light-grey, white);
}

.navbar .brand {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 800;
  text-decoration: none;
  color: inherit;
}


/* Hero */
.hero {
  display: flex;
  align-items: center;
  

  padding: 60px 40px;
  padding-top: calc(8vw + 15px);

  min-height: 300px;
  height: 30vw;

  background-image: url("/static/assets/HeroGrass.png"), linear-gradient(to top right, #63B0DC, #A6E3FF);
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
}

.hero-container {
  margin-bottom: 13vw;
}

.mission {
  color: white;
  background-color: #6C4D40;
}

.about {
  background-image: url("/static/assets/About.jpg");
  background-size: cover;
}

.serve {
  color: white;
  background-color: #4D9B4D;
}

.testimonials {
  padding: 50px 30px;
}

.testimonials i {
  display: inline;
  padding-right: 8px;

  color: #404040;
  font-size: 35px;
}

.testimonials ul {
  padding: calc(2vw + 10px);
}

.testimonials .author {
  display: block;

  font-size: 2rem;
  text-align: center;
}

.testimonials .position {
  display: block;
  line-height: 1.2rem;

  font-size: 1rem;
}

.contact {
  color: white;
  background-color: #6C4D40;
}

.contact a {
  display: block;
}